<a href="https://colab.research.google.com/github/juandiegoescobar05-arch/Curso-an-lisis-de-datos-/blob/main/Clase_analisis_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Inicio en el Lenguaje de Python

In [ ]:
Nombre = "Juan" # Defino tipo de variable de texto tipo strint (str)
Apellido = "Escobar"
Edad = 20 #Defino tipo de variable numero enteros tipo (int)
pi = 3.1416 #Defino tipo de variable numeros con deciames tipo(float)

print("Mi Nombre es",Nombre,Apellido,"y mi edad es de",Edad,"años")

Mi Nombre es Juan Escobar y mi edad es de 20 años

In [ ]:
nombre = "Python"
version = 3
popularidad = 9.9

print(nombre,"version",version,"tiene una popularidad de",popularidad)
print("pero sigue sin tener pareja... porque todas las variables mienten ")

Python version 3 tiene una popularidad de 9.9
pero sigue sin tener pareja... porque todas las variables mienten

Operaciones Basicas Matematicas

In [ ]:
#Sumatoria de datos

A= 12
B= 9
C= A+B
print(C)

A= 12
B= 9
C= A*B
print(C)

A= 12
B= 9
C= 12/9
print(C) #Solo un slash da decimales(float)

A= 12
B= 9
C= 12//9
print(C) #Dos slash da numero entero

print(12**9) #Potencia del numero

21
108
1.3333333333333333
1
5159780352

Listas, Tuples, Diccionarios

In [ ]:
#Variables de tipos de datos LISTAS
Datos=['medias','pantalones',6 , 3.141592, 'Articulos de aseo']
print(Datos)

print(Datos[3])  # Publica la unfomración almacenada en la lista Datos en la ubicación 3
print(Datos[-1]) #Publique el ultimo de la lista

['medias', 'pantalones', 6, 3.141592, 'Articulos de aseo']
3.141592
Articulos de aseo

In [ ]:
Datos[0]= Nombre
Datos[-1]= Apellido #Permite editar la lista con datos de code anteriores
print(Datos)

['Juan', 'pantalones', 6, 3.141592, 'Escobar']

In [ ]:
#Propiedades de la lista
Datos.append(Edad) #Permite agregar datos a la lista
print(Datos)

Datos.insert(4,"Viper") #Permite adicionar info a la lista
print(Datos)
Datos.remove("Viper") #Remueve y elimina el dato indicado
print(Datos)

Datos.clear() #Elimina todos los datos de la lista
print(Datos)

['Juan', 'pantalones', 6, 3.141592, 'Escobar', 20]
['Juan', 'pantalones', 6, 3.141592, 'Viper', 'Escobar', 20]
['Juan', 'pantalones', 6, 3.141592, 'Escobar', 20]
[]

In [ ]:
#Variables de tipos de datos Tuples
Titulos= ('Nombre','Apellido','Sexo','Fecha de Nacimiento','G239P')
print(Titulos)
#Propiedades de Tuples
Titulos.index('Sexo') #Retorna o indica la poscion del dato que se busca
print(Titulos.index('Sexo'))
print(Titulos.count('Movil')) #Indica cuantas veces aparece ese dato en espescifico

#Propiedad tipo Diccionario
Diccionario={'Elemento':'Casa'
             ,'Ciudad':'Cali'
               ,'Color':"Cafe"
                 ,'Pais':'Colombia'}
print(Diccionario)
print(Diccionario.get('Pais')) #Me da el valor de la etiqueta que se pide
print(Diccionario.keys()) #Nos da los titulos
print(Diccionario.values()) #Nos da el contenido de los titulos-Etiquetas

Diccionario.update({'Año':2025})

('Nombre', 'Apellido', 'Sexo', 'Fecha de Nacimiento', 'G239P')
2
0
{'Elemento': 'Casa', 'Ciudad': 'Cali', 'Color': 'Cafe', 'Pais': 'Colombia'}
Colombia
dict_keys(['Elemento', 'Ciudad', 'Color', 'Pais'])
dict_values(['Casa', 'Cali', 'Cafe', 'Colombia'])

In [ ]:
# Funciones de ingreso de informacion
Nombre= input('Ingrese su Nombre:')

#Funcion de Salida
print('Su nombre es',Nombre)

Ingrese su Nombre:Juan
Su nombre es Juan

Ejercicio

Realizar un programa que lea los elementos de una lista (Nombre,edad,ciuadad de una persona)y los almacene en un diccionario

In [ ]:
Nombre= input('Ingrese Su Nombre')
Ciudad= input('¿De donde es? ')
Edad= input('Por ultimo cual es su edad?')

print('Su nombre es', Nombre)
print('El es de', Ciudad)
print('Su edad es',Edad)

Diccionario=({'Nombre':'Juan','Ciudad':'Bogota','Edad':20})
print(Diccionario)

Ingrese Su NombreJuan
¿De donde es? Bogota
Por ultimo cual es su edad?20
Su nombre es Juan
El es de Bogota
Su edad es 20
{'Nombre': 'Juan', 'Ciudad': 'Bogota', 'Edad': 20}

Clase 2 -- 24 Octubre

In [ ]:
#Operadores Aritmeticos

print(1+4)
print(3-45)
print(6*9)
print(10/3)

5
-42
54
3.3333333333333335

In [ ]:
#Operadores Logicos
##OR,AND,NOD

#OR
print(True or False)
print(1 or 1)
#Combinacion 1
A= 1
B= 0
print(A or B)
#Combinacion 2
A= 0
B= 1
print(A or B)
#Combinacion 3
A= 0
B= 0
print(A or B)

True
1
1
1
0

In [ ]:
#AND
#Combinancion 1
A= True
B= False
print(A and B)
#Combinacion 2
A= True
B= True
print(A and B)
#Combinacion 3
A= False
B= False
print(A and B)
#Combinacion 4
A= True
B= True
C= True
print(A and B and C)

False
True
False
True

In [ ]:
from ast import Not
# NOT

#Combiancion 1
A= True
B= False
print(not A)
print(not B)

False
True

In [ ]:
##Operadores de Comparacion
###
#== si una variable es igual a otra
A=4
B=4
print(A==B)
##<= menor o igual
A=4
B=3.999
print(A<=B)
##>= mayor o igual
A=4
B=3.999
print(A>=B)
#!= distinto
A=4
B=4
print(A!=B)

True
False
True
False

In [ ]:
#Condicionales
#IF ELSE
Edad_A=int(input("Ingrese su edad:"))# El dato Int convierte a tipo entero

if Edad_A >=18 :
  Nombre= "Daniel"
  print("La persona es mayor de edad", Nombre)
else:
  print("La persona es menor de edad")
  A= 4
  B= 23
  C= 24
  print(A+B+C)
print("Fin del Porgrama")

Ingrese su edad:20
La persona es mayor de edad Daniel
Fin del Porgrama

In [ ]:
##condicional if-elif-else
Nombre=input("Ingrese su nombre:")

if Nombre == "David":
  print("ingreso autorizado,",Nombre, "Bienvenido usted puede entrar")
elif Nombre == "Daniela":
  print("ingreso autorizado", "Bienvenida:", Nombre)
else:
  print("Ingreso denegado")
print("Fin del programa")

Ingrese su nombre:Juan
Ingreso denegado
Fin del programa

In [ ]:
#Bucles en pyhton
#FOR

for Contador in range(2):
  print("Viper")
  print(Contador)

Viper
0
Viper
1

In [ ]:
# Ciclo For recorrido de datos
#FOR
Datos = ["Perro", "Gato", 3, 8, "casas"]
for x in Datos:
  if x== "Perro" or x== "Gato":
    print(x, "Es una mascota")
  else:
    print(x, "No es una mascota")

Perro Es una mascota
Gato Es una mascota
3 No es una mascota
8 No es una mascota
casas No es una mascota

In [ ]:
#WHILE

contador = 5
while contador >= 1:
    print("La bomba va a explotar en:", contador)
    contador -= 1

print("BOOMMM")

La bomba va a explotar en: 5
La bomba va a explotar en: 4
La bomba va a explotar en: 3
La bomba va a explotar en: 2
La bomba va a explotar en: 1
BOOMMM

In [ ]:
##bucle infinito con break
numero=0
while True:

  print("Hola")
  if numero == 5:
    break
  numero +=1 #incrementa la variable en 1
print("Fin del programa")

Hola
Hola
Hola
Hola
Hola
Hola
Fin del programa

In [ ]:
diccionario={"Elemento":"casa",
             "ciudad":"cali",
             "color":"cafe",
             "pais":"colombia",
             "numero":2025}
while True:
  for clave, valor in diccionario.items():
    print(clave, "es igual a", valor)
    if valor == "cafe":
      break
    print(valor)
  break

Elemento es igual a casa
casa
ciudad es igual a cali
cali
color es igual a cafe

In [ ]:
Carros=['Lambo','Porsche','Mclaren','Ferrari']
while True:
  for x in Carros:
    print(x)
    if x == 'Mclaren':
     break
  break

Lambo
Porsche
Mclaren

In [ ]:
#Break

for num in range(1, 10):
    if num == 6:

        break
    print(num)

1
2
3
4
5

In [ ]:
#Continue
for num in range(1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

In [ ]:
#Recorrer  una cadena carecteres

Universidad= "Universidad de la Salle"
for x in Universidad:
  print(x)

U
n
i
v
e
r
s
i
d
a
d

d
e

l
a

S
a
l
l
e

In [ ]:
#Ciclo para correr diccionarios
Informacion={"Nombre": "Juan", "Apellido": "Escobar", "Edad": 20,"Genero": "Masculino"}
for clave,valor in Informacion.items():
  print(clave, "es igual a", valor)

Nombre es igual a Juan
Apellido es igual a Escobar
Edad es igual a 20
Genero es igual a Masculino

Clase 25 de octubre
Ejercicio

Algoritmos

 Escibra un porgrama que pida al usuario el capital inicial invertido, la tasa de interes anual(en %), y los años de inversion. Usa un bucle for para calcular y mostrar el valor del capital acumulado año por año (interes compuesto)

In [ ]:
## Simulador de inversion v1
# Solicitar datos al usuario
capital_inicial = float(input("Ingrese el capital inicial: "))
tasa_interes = float(input("Ingrese la tasa de interés anual (%): "))
anios = int(input("Ingrese los años de inversión: "))
# Calcular año por año
capital = capital_inicial
for i in range(1, anios + 1):
  capital *= (1 + tasa_interes / 100)
  print(f"Año {i}: ${capital:.2f}")

Ingrese el capital inicial: 10000000
Ingrese la tasa de interés anual (%): 12
Ingrese los años de inversión: 13
Año 1: $11200000.00
Año 2: $12544000.00
Año 3: $14049280.00
Año 4: $15735193.60
Año 5: $17623416.83
Año 6: $19738226.85
Año 7: $22106814.07
Año 8: $24759631.76
Año 9: $27730787.57
Año 10: $31058482.08
Año 11: $34785499.93
Año 12: $38959759.93
Año 13: $43634931.12

In [ ]:
##Simulador de inversion v2
print("Bienvenido a la calculadora de capital acumulado")
Capital = int(input("ingrese su capital inicial invertido:"))
Tasa = float(input("ingrese la tasa de interes anual en %:"))/100 ##convertimos a %
Años = int( input("ingrese los años de inversion:"))

for x in range(Años):
  Capital_F=Capital*(1+Tasa)
  print("El capital obtenido en el año",x+1, 'es:', f'{Capital_F:.2f}')## 2f solo publica 2 decimales
  Capital=Capital_F
print("El capital final acumulado es:", Capital)

Bienvenido a la calculadora de capital acumulado
ingrese su capital inicial invertido:10000000
ingrese la tasa de interes anual en %:12
ingrese los años de inversion:12
El capital obtenido en el año 1 es: 11200000.00
El capital obtenido en el año 2 es: 12544000.00
El capital obtenido en el año 3 es: 14049280.00
El capital obtenido en el año 4 es: 15735193.60
El capital obtenido en el año 5 es: 17623416.83
El capital obtenido en el año 6 es: 19738226.85
El capital obtenido en el año 7 es: 22106814.07
El capital obtenido en el año 8 es: 24759631.76
El capital obtenido en el año 9 es: 27730787.57
El capital obtenido en el año 10 es: 31058482.08
El capital obtenido en el año 11 es: 34785499.93
El capital obtenido en el año 12 es: 38959759.93
El capital final acumulado es: 38959759.92546981

Ejercicio 2

Solicita el usuario su puntaje crediticio (entre 300 y 850 ). Usa una estrucutura if - elif - else para clasificarse


*   "Riesgo alto" si es menor de 850
*   "Riesgo medio" si esta entre 580 y 699
*   "Riesgo Bajo"  si es 700 o mas

In [ ]:
# Solicitar puntaje al usuario
print("Bienvenido a Rappi card black")
puntaje = int(input("Ingresa tu puntaje crediticio (entre 300 y 850): "))

# Clasificación según el puntaje
if puntaje >=300 and puntaje< 580:
    print("Riesgo alto")
elif puntaje >= 580 and puntaje <= 699:
    print("Riesgo medio")
elif puntaje <300 or puntaje>850:
  print("Ingrese un puntaje valido,Vuelva en dos meses para intertar de nuevo :(")
else:
    print("Riesgo bajo")

Bienvenido a Rappi card black
Ingresa tu puntaje crediticio (entre 300 y 850): 20
Ingrese un puntaje valido,Vuelva en dos meses para intertar de nuevo :(

Ejercicio 3
Solicita al usuario ingresar los valores del PIB de un pais durante los ultimos 5 años.Usa un bucle for para calcular y mostrar el porcentaje de crecimiento o decrecimiento entre años consecutivos

In [ ]:
# Solicitar los valores del PIB de los últimos 5 años
pib = []  # lista para guardar los valores

for i in range(1,6):
    valor = float(input(f"Ingrese el PIB del año {i}: "))
    pib.append(valor)## acumula uno tras otro para formar vector

print("Porcentaje de crecimiento o decrecimiento")

# Calcular el crecimiento o decrecimiento entre años consecutivos
for i in range(1, 5):
    crecimiento = ((pib[i] - pib[i - 1]) / pib[i - 1]) * 100
    if crecimiento > 0:
        print(f"Crecimiento del año {i} al año {i + 1}: {crecimiento:.2f}%")
    elif crecimiento < 0:
        print(f"Decrecimiento del año {i} al año {i + 1}: {crecimiento:.2f}%")
    else:
        print(f"Sin Cambio del año {i} al año {i + 1}: {crecimiento:.2f}%")

Ingrese el PIB del año 1: 486
Ingrese el PIB del año 2: 286
Ingrese el PIB del año 3: 277
Ingrese el PIB del año 4: 83
Ingrese el PIB del año 5: 33
Porcentaje de crecimiento o decrecimiento
Decrecimiento del año 1 al año 2: -41.15%
Decrecimiento del año 2 al año 3: -3.15%
Decrecimiento del año 3 al año 4: -70.04%
Decrecimiento del año 4 al año 5: -60.24%

In [ ]:
#Version 2 del ejercicio
pib = []  # lista para guardar los valores

for i in range(1,6):
    valor = float(input(f"Ingrese el PIB del año {i}: "))
    pib.append(valor)## acumula uno tras otro para formar vector
for n in range(4):

  cambio = ((pib[n+1] - pib[n])* 100 / pib[n])

  print(f"{cambio:.2f}")

-1.48
567.27
-85.01
0.30

Ejercicio 4

Un usuario solicita un prestamo de cierta cantidad con una tasa fija fija de interes y numero de cuotas de mensuales. El programa debe calcular, usando un bucle while,como se ve reduciendo el saldo mes a mes y mostrar la tabla de pagos (cuota,interes,saldo restante)

In [ ]:
# Solicitar datos al usuario v1 ANUAL
prestamo = float(input("Ingrese el monto del préstamo: "))
tasa_interes = float(input("Ingrese la tasa de interés anual (%): "))
cuotas = int(input("Ingrese el número de cuotas mensuales: "))

# Calcular tasa de interés mensual
tasa_mensual =(1+tasa_interes)**(1/12)-1
cuota = prestamo * (tasa_mensual * (1 + tasa_mensual) ** cuotas) / ((1 + tasa_mensual) ** cuotas - 1)
saldo = prestamo
mes = 1

print("\nTabla de pagos:")
print("Mes\t|Cuota\t|\tInterés\t|\tAbono\t|\tSaldo restante")

# Bucle while para mostrar mes a mes
while mes <= cuotas:
    interes = saldo * tasa_mensual
    abono_capital = cuota - interes
    saldo -= abono_capital

    print(f"{mes}\t|${cuota:,.2f}\t|${interes:,.2f}\t|${abono_capital:,.2f}\t|${saldo:,.2f}")

    mes += 1

In [ ]:
#Simulador de prestamo v2 Mensual
print("Simulador de Préstamo - Tabla de Amortización")

v_prestamo = float(input("Ingrese el valor de su préstamo: "))
tasa = float(input("Ingrese la tasa de interés mensual (%): ")) / 100
cuotas = int(input("Ingrese el número de cuotas mensuales: "))

# Fórmula de la cuota fija
Cuota_Fija = v_prestamo * (tasa * (1 + tasa) ** cuotas) / ((1 + tasa) ** cuotas - 1)

print(f"\nLa Cuota mensual para este préstamo es: {Cuota_Fija:.2f}\n")

saldo = v_prestamo
n_cuota = 1

print("Cuota | Interés | Amortización | Saldo restante")
print("-----------------------------------------------")

while saldo > 0 and n_cuota <= cuotas:
    interes = saldo * tasa
    amortizacion = Cuota_Fija - interes
    saldo -= amortizacion
    if saldo < 0: saldo = 0
    print(f"{n_cuota:5} | {interes:8.2f} | {amortizacion:13.2f} | {saldo:15.2f}")
    n_cuota += 1

Funciones de Python

In [ ]:
##una funcion se define con las letras "def"
def calculadora_de_inversion(Capital,Tasa,Años):
  Tasa=Tasa/100 ##convertimos a %
  for x in range(Años):
    Capital_F=Capital*(1+Tasa)
    print("El capital obtenido en el año",x+1, 'es:', f'{Capital_F:.2f}')## 2f solo publica 2 decimales
    Capital=Capital_F
  return Capital_F
  print("El capital final acumulado es:", Capital)

In [ ]:
calculadora_de_inversion(25000,1.5,5)

In [ ]:
A = int(input("ingrese su capital inicial invertido:"))
B = float(input("ingrese la tasa de interes anual en %:"))
C = int( input("ingrese los años de inversion:"))
ganancias=calculadora_de_inversion(A,B,C)
print("El capital final acumulado es:", f'{ ganancias:.1f}')

Clase de analisis de datos 10-31-2025

In [ ]:
def calculo_de_cuotas (v_prestamo, tasa, cuotas):
  num= tasa*(1+tasa)**cuotas
  den=(1+tasa)**cuotas-1
  cuota_fija= v_prestamo*(num/den)
  saldo=v_prestamo
  print("Cuota | Valor cuota | Interes | Saldo")
  n_cuota=1

  while saldo > 1 :
    interes = saldo * tasa
    V_pagar= cuota_fija - interes
    saldo = saldo - V_pagar
    if saldo < 0: saldo = 0
    print(f"{n_cuota} | {V_pagar:.2f} | {interes:.2f} | {saldo:.2f}")
  n_cuota +=1

In [ ]:
calculo_de_cuotas(9000000,1.5,10)

Ejercicio

Un inversionista deposita 10,000 dolares a una tasa anual del 8% durante 5 año. Cual sera el valor futuro

In [ ]:
##Importar libreria math
import math

inversion= 1000000
interes= 0.08
tiempo= 5

##Funcion math.pow-- ayuda a mirar el valor futuro

Valor_futuro=inversion*(math.pow((1+interes),tiempo))
print("El dinero que obtendra en un futuro sera de:",Valor_futuro)

Ejercicio 2: Calcular la tasa de crecimiento anual promedio (CAGR)

Una acción pasa de 120 en 6 años ¿Cual fue su tasa de crecimiento anual? 50 a

In [ ]:
valor_inicial =50
valor_final=120
tiempo= 6

## vf/vi
##(vf/vi)t

tasa_crecimiento= math.pow((valor_final/valor_inicial),1/tiempo)-1
print("La tasa de crecimiento anual fue de:", round(tasa_crecimiento*100,2),"%")


La funcion math.log(x,, base) logaritmo(natural o base 10)
Ejercio 3
Redondear periodos necsarios para alcnzar una meta, una perosa quiere duplicar su inversion al 7% anual , ¿cuantos años necesita?

Fórmula: VF=VI(1+R)^T n=log(vf/vi)/log(1+r)

In [ ]:
tasa = 0.07
meta = 2

años = math.log(meta) / math.log(1 + tasa)
print(f"Los años requeridos para duplicar la inversión son de {round(años, 2)}")

PANDAS Y NUMPY Librerías clave para análisis de datos

In [45]:
##pandas (tablas/excel)
import pandas as pd
info=[3,5,7,9]
datos=pd.Series([3,5,7,9])
print("estos son los datos de la lista: \n", info)
print('Esta es una serie:\n', datos)

estos son los datos de la lista:
 [3, 5, 7, 9]
Esta es una serie:
 0    3
1    5
2    7
3    9
dtype: int64

In [46]:
#creamos una serie de datos, con etiquetas
precios =pd.Series([3850,3000,3060,3919,2495], index= ["lun", "mar", "mier","jue","vie"], name="precio_dolar")
print(precios)

lun     3850
mar     3000
mier    3060
jue     3919
vie     2495
Name: precio_dolar, dtype: int64

In [47]:
##Acceder a la informacion
print(precios ["jue"])
print(precios [2])
print(precios [2:4])
print(precios[2:])

3919
3060
mier    3060
jue     3919
Name: precio_dolar, dtype: int64
mier    3060
jue     3919
vie     2495
Name: precio_dolar, dtype: int64

/tmp/ipython-input-2495532259.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(precios [2])

In [51]:
#Operaciones Comunes
#calculo del promedio
promedio_dolar=precios.mean()
print("El valor de promedio del dolar en la semana fue: ",promedio_dolar)
#calculo del valor maximo
maximo_dolar=precios.max()
print("El valor maximo del dolar en la semana fue: ",maximo_dolar)
#calculo del valor minimo
minimo_dolar=precios.min()
print("El valor minimo del dolar en la semana fue: ",minimo_dolar)
#calculo del cambio porcentual
cambio_porcentual=precios.pct_change()
print("El cambio porcentual del dolar en la semana fue: ",cambio_porcentual)
#Calculo de edesviacion estandar
desviacion_estandar=precios.std()
print("La desviacion estandar del dolar en la semana fue: ",desviacion_estandar)
#Calculo de varianza
varianza=precios.var()
print("La varianza del dolar en la semana fue: ",varianza)

El valor de promedio del dolar en la semana fue:  3264.8
El valor maximo del dolar en la semana fue:  3919
El valor minimo del dolar en la semana fue:  2495
El cambio porcentual del dolar en la semana fue:  lun          NaN
mar    -0.220779
mier    0.020000
jue     0.280719
vie    -0.363358
Name: precio_dolar, dtype: float64
La desviacion estandar del dolar en la semana fue:  607.266580671125
La varianza del dolar en la semana fue:  368772.7

In [57]:
#Creacion de data frame - Datos de ventas
datos = {
    "Semana 1": [13, 12, 13.4, 14.9, 15.9],
    "Semana 2": [12.3, 12.4, 15.9, 13.9, 19.8]
}

data_frame = pd.DataFrame(datos, index=["lun","mar","mier","juev","vier"])
print(data_frame)

      Semana 1  Semana 2
lun       13.0      12.3
mar       12.0      12.4
mier      13.4      15.9
juev      14.9      13.9
vier      15.9      19.8

In [60]:
##Encontrar promedio de ventas
print("promedio de venta de la semana 1 fue:", data_frame["Semana 1"].mean())
print("promedio de venta de la semana 2 fue:", data_frame["Semana 2"].mean())

promedio de venta de la semana 1 fue: 13.84
promedio de venta de la semana 2 fue: 14.86

In [61]:
#adicionar columnas
data_frame["Round_S1"]=data_frame["Semana 1"].pct_change()*100
data_frame["Round_S2"]=data_frame["Semana 2"].pct_change()*100

print(data_frame)

      Semana 1  Semana 2   Round_S1   Round_S2
lun       13.0      12.3        NaN        NaN
mar       12.0      12.4  -7.692308   0.813008
mier      13.4      15.9  11.666667  28.225806
juev      14.9      13.9  11.194030 -12.578616
vier      15.9      19.8   6.711409  42.446043