<a href="https://colab.research.google.com/github/juandiegoescobar05-arch/Curso-an-lisis-de-datos-/blob/main/Clase_analisis_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Inicio en el Lenguaje de Python

In [ ]:
Nombre = "Juan" # Defino tipo de variable de texto tipo strint (str)
Apellido = "Escobar"
Edad = 20 #Defino tipo de variable numero enteros tipo (int)
pi = 3.1416 #Defino tipo de variable numeros con deciames tipo(float)

print("Mi Nombre es",Nombre,Apellido,"y mi edad es de",Edad,"años")

Mi Nombre es Juan Escobar y mi edad es de 20 años

In [ ]:
nombre = "Python"
version = 3
popularidad = 9.9

print(nombre,"version",version,"tiene una popularidad de",popularidad)
print("pero sigue sin tener pareja... porque todas las variables mienten ")

Python version 3 tiene una popularidad de 9.9
pero sigue sin tener pareja... porque todas las variables mienten

Operaciones Basicas Matematicas

In [ ]:
#Sumatoria de datos

A= 12
B= 9
C= A+B
print(C)

A= 12
B= 9
C= A*B
print(C)

A= 12
B= 9
C= 12/9
print(C) #Solo un slash da decimales(float)

A= 12
B= 9
C= 12//9
print(C) #Dos slash da numero entero

print(12**9) #Potencia del numero

21
108
1.3333333333333333
1
5159780352

Listas, Tuples, Diccionarios

In [ ]:
#Variables de tipos de datos LISTAS
Datos=['medias','pantalones',6 , 3.141592, 'Articulos de aseo']
print(Datos)

print(Datos[3])  # Publica la unfomración almacenada en la lista Datos en la ubicación 3
print(Datos[-1]) #Publique el ultimo de la lista

['medias', 'pantalones', 6, 3.141592, 'Articulos de aseo']
3.141592
Articulos de aseo

In [ ]:
Datos[0]= Nombre
Datos[-1]= Apellido #Permite editar la lista con datos de code anteriores
print(Datos)

['Juan', 'pantalones', 6, 3.141592, 'Escobar']

In [ ]:
#Propiedades de la lista
Datos.append(Edad) #Permite agregar datos a la lista
print(Datos)

Datos.insert(4,"Viper") #Permite adicionar info a la lista
print(Datos)
Datos.remove("Viper") #Remueve y elimina el dato indicado
print(Datos)

Datos.clear() #Elimina todos los datos de la lista
print(Datos)

['Juan', 'pantalones', 6, 3.141592, 'Escobar', 20]
['Juan', 'pantalones', 6, 3.141592, 'Viper', 'Escobar', 20]
['Juan', 'pantalones', 6, 3.141592, 'Escobar', 20]
[]

In [ ]:
#Variables de tipos de datos Tuples
Titulos= ('Nombre','Apellido','Sexo','Fecha de Nacimiento','G239P')
print(Titulos)
#Propiedades de Tuples
Titulos.index('Sexo') #Retorna o indica la poscion del dato que se busca
print(Titulos.index('Sexo'))
print(Titulos.count('Movil')) #Indica cuantas veces aparece ese dato en espescifico

#Propiedad tipo Diccionario
Diccionario={'Elemento':'Casa'
             ,'Ciudad':'Cali'
               ,'Color':"Cafe"
                 ,'Pais':'Colombia'}
print(Diccionario)
print(Diccionario.get('Pais')) #Me da el valor de la etiqueta que se pide
print(Diccionario.keys()) #Nos da los titulos
print(Diccionario.values()) #Nos da el contenido de los titulos-Etiquetas

Diccionario.update({'Año':2025})

('Nombre', 'Apellido', 'Sexo', 'Fecha de Nacimiento', 'G239P')
2
0
{'Elemento': 'Casa', 'Ciudad': 'Cali', 'Color': 'Cafe', 'Pais': 'Colombia'}
Colombia
dict_keys(['Elemento', 'Ciudad', 'Color', 'Pais'])
dict_values(['Casa', 'Cali', 'Cafe', 'Colombia'])

In [ ]:
# Funciones de ingreso de informacion
Nombre= input('Ingrese su Nombre:')

#Funcion de Salida
print('Su nombre es',Nombre)

Ingrese su Nombre:Juan
Su nombre es Juan

Ejercicio

Realizar un programa que lea los elementos de una lista (Nombre,edad,ciuadad de una persona)y los almacene en un diccionario

In [ ]:
Nombre= input('Ingrese Su Nombre')
Ciudad= input('¿De donde es? ')
Edad= input('Por ultimo cual es su edad?')

print('Su nombre es', Nombre)
print('El es de', Ciudad)
print('Su edad es',Edad)

Diccionario=({'Nombre':'Juan','Ciudad':'Bogota','Edad':20})
print(Diccionario)

Ingrese Su NombreJuan
¿De donde es? Bogota
Por ultimo cual es su edad?20 años
Su nombre es Juan
El es de Bogota
Su edad es 20 años
{'Nombre': 'Juan', 'Ciudad': 'Bogota', 'Edad': 20}

Clase 2 -- 24 Octubre

In [ ]:
#Operadores Aritmeticos

print(1+4)
print(3-45)
print(6*9)
print(10/3)

5
-42
54
3.3333333333333335

In [ ]:
#Operadores Logicos
##OR,AND,NOD

#OR
print(True or False)
print(1 or 1)
#Combinacion 1
A= 1
B= 0
print(A or B)
#Combinacion 2
A= 0
B= 1
print(A or B)
#Combinacion 3
A= 0
B= 0
print(A or B)

True
1
1
1
0

In [ ]:
#AND
#Combinancion 1
A= True
B= False
print(A and B)
#Combinacion 2
A= True
B= True
print(A and B)
#Combinacion 3
A= False
B= False
print(A and B)
#Combinacion 4
A= True
B= True
C= True
print(A and B and C)

False
True
False
True

In [ ]:
from ast import Not
# NOT

#Combiancion 1
A= True
B= False
print(not A)
print(not B)

False
True

In [ ]:
##Operadores de Comparacion
###
#== si una variable es igual a otra
A=4
B=4
print(A==B)
##<= menor o igual
A=4
B=3.999
print(A<=B)
##>= mayor o igual
A=4
B=3.999
print(A>=B)
#!= distinto
A=4
B=4
print(A!=B)

True
False
True
False

In [ ]:
#Condicionales
#IF ELSE
Edad_A=int(input("Ingrese su edad:"))# El dato Int convierte a tipo entero

if Edad_A >=18 :
  Nombre= "Daniel"
  print("La persona es mayor de edad", Nombre)
else:
  print("La persona es menor de edad")
  A= 4
  B= 23
  C= 24
  print(A+B+C)
print("Fin del Porgrama")

Ingrese su edad:14
La persona es menor de edad
51
Fin del Porgrama

In [ ]:
##condicional if-elif-else
Nombre=input("Ingrese su nombre:")

if Nombre == "David":
  print("ingreso autorizado,",Nombre, "Bienvenido usted puede entrar")
elif Nombre == "Daniela":
  print("ingreso autorizado", "Bienvenida:", Nombre)
else:
  print("Ingreso denegado")
print("Fin del programa")

Ingrese su nombre:David
ingreso autorizado, David Bienvenido usted puede entrar
Fin del programa

In [ ]:
#Bucles en pyhton
#FOR

for Contador in range(2):
  print("Viper")
  print(Contador)

Viper
0
Viper
1

In [ ]:
# Ciclo For recorrido de datos
#FOR
Datos = ["Perro", "Gato", 3, 8, "casas"]
for x in Datos:
  if x== "Perro" or x== "Gato":
    print(x, "Es una mascota")
  else:
    print(x, "No es una mascota")

Perro Es una mascota
Gato Es una mascota
3 No es una mascota
8 No es una mascota
casas No es una mascota

In [ ]:
#WHILE

contador = 5
while contador >= 1:
    print("La bomba va a explotar en:", contador)
    contador -= 1

print("BOOMMM")

La bomba va a explotar en: 5
La bomba va a explotar en: 4
La bomba va a explotar en: 3
La bomba va a explotar en: 2
La bomba va a explotar en: 1
BOOMMM

In [ ]:
##bucle infinito con break
numero=0
while True:

  print("Hola")
  if numero == 5:
    break
  numero +=1 #incrementa la variable en 1
print("Fin del programa")

Hola
Hola
Hola
Hola
Hola
Hola
Fin del programa

In [ ]:
diccionario={"Elemento":"casa",
             "ciudad":"cali",
             "color":"cafe",
             "pais":"colombia",
             "numero":2025}
while True:
  for clave, valor in diccionario.items():
    print(clave, "es igual a", valor)
    if valor == "cafe":
      break
    print(valor)
  break

Elemento es igual a casa
casa
ciudad es igual a cali
cali
color es igual a cafe

In [ ]:
Carros=['Lambo','Porsche','Mclaren','Ferrari']
while True:
  for x in Carros:
    print(x)
    if x == 'Mclaren':
     break
  break

Lambo
Porsche
Mclaren

In [ ]:
#Break

for num in range(1, 10):
    if num == 6:

        break
    print(num)

1
2
3
4
5

In [ ]:
#Continue
for num in range(1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

In [ ]:
#Recorrer  una cadena carecteres

Universidad= "Universidad de la Salle"
for x in Universidad:
  print(x)

U
n
i
v
e
r
s
i
d
a
d

d
e

l
a

S
a
l
l
e

In [ ]:
#Ciclo para correr diccionarios
Informacion={"Nombre": "Juan", "Apellido": "Escobar", "Edad": 20,"Genero": "Masculino"}
for clave,valor in Informacion.items():
  print(clave, "es igual a", valor)

Nombre es igual a Juan
Apellido es igual a Escobar
Edad es igual a 20
Genero es igual a Masculino

Clase 25 de octubre
Ejercicio

Algoritmos

 Escibra un porgrama que pida al usuario el capital inicial invertido, la tasa de interes anual(en %), y los años de inversion. Usa un bucle for para calcular y mostrar el valor del capital acumulado año por año (interes compuesto)

In [ ]:
## Simulador de inversion v1
# Solicitar datos al usuario
capital_inicial = float(input("Ingrese el capital inicial: "))
tasa_interes = float(input("Ingrese la tasa de interés anual (%): "))
anios = int(input("Ingrese los años de inversión: "))
# Calcular año por año
capital = capital_inicial
for i in range(1, anios + 1):
  capital *= (1 + tasa_interes / 100)
  print(f"Año {i}: ${capital:.2f}")

Ingrese el capital inicial: 90.000
Ingrese la tasa de interés anual (%): 1.2
Ingrese los años de inversión: 5
Año 1: $91.08
Año 2: $92.17
Año 3: $93.28
Año 4: $94.40
Año 5: $95.53

In [ ]:
##Simulador de inversion v2
print("Bienvenido a la calculadora de capital acumulado")
Capital = int(input("ingrese su capital inicial invertido:"))
Tasa = float(input("ingrese la tasa de interes anual en %:"))/100 ##convertimos a %
Años = int( input("ingrese los años de inversion:"))

for x in range(Años):
  Capital_F=Capital*(1+Tasa)
  print("El capital obtenido en el año",x+1, 'es:', f'{Capital_F:.2f}')## 2f solo publica 2 decimales
  Capital=Capital_F
print("El capital final acumulado es:", Capital)

Bienvenido a la calculadora de capital acumulado
ingrese su capital inicial invertido:90000
ingrese la tasa de interes anual en %:1.2
ingrese los años de inversion:5
El capital obtenido en el año 1 es: 91080.00
El capital obtenido en el año 2 es: 92172.96
El capital obtenido en el año 3 es: 93279.04
El capital obtenido en el año 4 es: 94398.38
El capital obtenido en el año 5 es: 95531.16
El capital final acumulado es: 95531.16455359489

Ejercicio 2

Solicita el usuario su puntaje crediticio (entre 300 y 850 ). Usa una estrucutura if - elif - else para clasificarse


*   "Riesgo alto" si es menor de 850
*   "Riesgo medio" si esta entre 580 y 699
*   "Riesgo Bajo"  si es 700 o mas

In [ ]:
# Solicitar puntaje al usuario
print("Bienvenido a Rappi card black")
puntaje = int(input("Ingresa tu puntaje crediticio (entre 300 y 850): "))

# Clasificación según el puntaje
if puntaje >=300 and puntaje< 580:
    print("Riesgo alto")
elif puntaje >= 580 and puntaje <= 699:
    print("Riesgo medio")
elif puntaje <300 or puntaje>850:
  print("Ingrese un puntaje valido,Vuelva en dos meses para intertar de nuevo :(")
else:
    print("Riesgo bajo")

Bienvenido a Rappi card black
Ingresa tu puntaje crediticio (entre 300 y 850): 20
Ingrese un puntaje valido,Vuelva en dos meses para intertar de nuevo :(

Ejercicio 3
Solicita al usuario ingresar los valores del PIB de un pais durante los ultimos 5 años.Usa un bucle for para calcular y mostrar el porcentaje de crecimiento o decrecimiento entre años consecutivos

In [ ]:
# Solicitar los valores del PIB de los últimos 5 años
pib = []  # lista para guardar los valores

for i in range(1,6):
    valor = float(input(f"Ingrese el PIB del año {i}: "))
    pib.append(valor)## acumula uno tras otro para formar vector

print("Porcentaje de crecimiento o decrecimiento")

# Calcular el crecimiento o decrecimiento entre años consecutivos
for i in range(1, 5):
    crecimiento = ((pib[i] - pib[i - 1]) / pib[i - 1]) * 100
    if crecimiento > 0:
        print(f"Crecimiento del año {i} al año {i + 1}: {crecimiento:.2f}%")
    elif crecimiento < 0:
        print(f"Decrecimiento del año {i} al año {i + 1}: {crecimiento:.2f}%")
    else:
        print(f"Sin Cambio del año {i} al año {i + 1}: {crecimiento:.2f}%")

Ingrese el PIB del año 1: 100
Ingrese el PIB del año 2: 125
Ingrese el PIB del año 3: 125
Ingrese el PIB del año 4: 150
Ingrese el PIB del año 5: 130
Porcentaje de crecimiento o decrecimiento
Crecimiento del año 1 al año 2: 25.00%
Sin Cambio del año 2 al año 3: 0.00%
Crecimiento del año 3 al año 4: 20.00%
Decrecimiento del año 4 al año 5: -13.33%

In [ ]:
#Version 2 del ejercicio
pib = []  # lista para guardar los valores

for i in range(1,6):
    valor = float(input(f"Ingrese el PIB del año {i}: "))
    pib.append(valor)## acumula uno tras otro para formar vector
for n in range(4):

  cambio = ((pib[n+1] - pib[n])* 100 / pib[n])

  print(cambio:.2f)

Ingrese el PIB del año 1: 100
Ingrese el PIB del año 2: 125
Ingrese el PIB del año 3: 125
Ingrese el PIB del año 4: 150
Ingrese el PIB del año 5: 130
25.0
0.0
20.0
-13.333333333333334

Ejercicio 4

Un usuario solicita un prestamo de cierta cantidad con una tasa fija fija de interes y numero de cuotas de mensuales. El programa debe calcular, usando un bucle while,como se ve reduciendo el saldo mes a mes y mostrar la tabla de pagos (cuota,interes,saldo restante)

In [ ]:
# Solicitar datos al usuario v1 ANUAL
prestamo = float(input("Ingrese el monto del préstamo: "))
tasa_interes = float(input("Ingrese la tasa de interés anual (%): "))
cuotas = int(input("Ingrese el número de cuotas mensuales: "))

# Calcular tasa de interés mensual
tasa_mensual =(1+tasa_interes)**(1/12)-1
cuota = prestamo * (tasa_mensual * (1 + tasa_mensual) ** cuotas) / ((1 + tasa_mensual) ** cuotas - 1)
saldo = prestamo
mes = 1

print("\nTabla de pagos:")
print("Mes\t|Cuota\t|\tInterés\t|\tAbono\t|\tSaldo restante")

# Bucle while para mostrar mes a mes
while mes <= cuotas:
    interes = saldo * tasa_mensual
    abono_capital = cuota - interes
    saldo -= abono_capital

    print(f"{mes}\t|${cuota:,.2f}\t|${interes:,.2f}\t|${abono_capital:,.2f}\t|${saldo:,.2f}")

    mes += 1

Ingrese el monto del préstamo: 1000000
Ingrese la tasa de interés anual (%): 13
Ingrese el número de cuotas mensuales: 6

Tabla de pagos:
Mes	|Cuota	|	Interés	|	Abono	|	Saldo restante
1	|$335,697.88	|$245,978.85	|$89,719.03	|$910,280.97
2	|$335,697.88	|$223,909.86	|$111,788.02	|$798,492.95
3	|$335,697.88	|$196,412.38	|$139,285.50	|$659,207.45
4	|$335,697.88	|$162,151.09	|$173,546.79	|$485,660.66
5	|$335,697.88	|$119,462.25	|$216,235.63	|$269,425.02
6	|$335,697.88	|$66,272.86	|$269,425.02	|$-0.00

In [ ]:
#Simulador de prestamo v2 Mensual
print("Simulador de Préstamo - Tabla de Amortización")

v_prestamo = float(input("Ingrese el valor de su préstamo: "))
tasa = float(input("Ingrese la tasa de interés mensual (%): ")) / 100
cuotas = int(input("Ingrese el número de cuotas mensuales: "))

# Fórmula de la cuota fija
Cuota_Fija = v_prestamo * (tasa * (1 + tasa) ** cuotas) / ((1 + tasa) ** cuotas - 1)

print(f"\nLa Cuota mensual para este préstamo es: {Cuota_Fija:.2f}\n")

saldo = v_prestamo
n_cuota = 1

print("Cuota | Interés | Amortización | Saldo restante")
print("-----------------------------------------------")

while saldo > 0 and n_cuota <= cuotas:
    interes = saldo * tasa
    amortizacion = Cuota_Fija - interes
    saldo -= amortizacion
    if saldo < 0: saldo = 0
    print(f"{n_cuota:5} | {interes:8.2f} | {amortizacion:13.2f} | {saldo:15.2f}")
    n_cuota += 1

Simulador de Préstamo - Tabla de Amortización
Ingrese el valor de su préstamo: 1000000
Ingrese la tasa de interés mensual (%): 1.5
Ingrese el número de cuotas mensuales: 12

La Cuota mensual para este préstamo es: 91679.99

Cuota | Interés | Amortización | Saldo restante
-----------------------------------------------
    1 | 15000.00 |      76679.99 |       923320.01
    2 | 13849.80 |      77830.19 |       845489.81
    3 | 12682.35 |      78997.65 |       766492.17
    4 | 11497.38 |      80182.61 |       686309.56
    5 | 10294.64 |      81385.35 |       604924.21
    6 |  9073.86 |      82606.13 |       522318.08
    7 |  7834.77 |      83845.22 |       438472.86
    8 |  6577.09 |      85102.90 |       353369.96
    9 |  5300.55 |      86379.44 |       266990.51
   10 |  4004.86 |      87675.14 |       179315.38
   11 |  2689.73 |      88990.26 |        90325.12
   12 |  1354.88 |      90325.12 |            0.00

Funciones de Python

In [ ]:
##una funcion se define con las letras "def"
def calculadora_de_inversion(Capital,Tasa,Años):
  Tasa=Tasa/100 ##convertimos a %
  for x in range(Años):
    Capital_F=Capital*(1+Tasa)
    print("El capital obtenido en el año",x+1, 'es:', f'{Capital_F:.2f}')## 2f solo publica 2 decimales
    Capital=Capital_F
  return Capital_F
  print("El capital final acumulado es:", Capital)

In [ ]:
calculadora_de_inversion(25000,1.5,5)

In [ ]:
A = int(input("ingrese su capital inicial invertido:"))
B = float(input("ingrese la tasa de interes anual en %:"))
C = int( input("ingrese los años de inversion:"))
ganancias=calculadora_de_inversion(A,B,C)
print("El capital final acumulado es:", f'{ ganancias:.1f}')